.git
.github
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
storage
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
docs
coverage
docker-compose.yml
npm-debug.log
yarn-error.log
*.log
